.header .logo {
    content: url('../img/final-logo.png');
    width: 110px;
}

h1.gallery-title{
    position: absolute;
    color: #fcfcfc;
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    width: 60%;
    z-index: 999999;
}

h1.services-title {
    position: absolute;
    color: #fcfcfc;
    font-size: 38px;
    font-weight: bold;
    text-align: center;
    text-transform: none;
    margin-top: 3%;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    width: 60%;
    z-index: 999999;

}

h1.event-title{
    position: absolute;
    color: #ffffff;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    margin-top: 12%;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    width: 60%;
    z-index: 999999;
    opacity: 1;
}

p.event-desc{
    color: #ffffff;
    position: absolute;
    font-size: 18px;
    font-weight:normal;
    text-align: center;
    text-transform: none;
    margin-top: 16%;
    margin-left: 20%;
    margin-right: 20%;
    display: block;
    width: 60%;
    z-index: 999999;
    opacity: 1;
}


@media only screen and (max-width: 479px)
{
    .header .logo {
        content: url('../img/black-logo.png');
        width: 90px;
        margin-top: -20px;
        margin-left: -20px;
    }
    h1.services-title {
        font-size: 30px;
    }

    h1.gallery-title{
        margin-top: 10%;
    }

    h1.event-title {
        margin-top: 30%;
        font-size: 20px;
        color: #ffffff;
        opacity: 1;
    }

    p.event-desc{
        margin-top: 45%;
        font-size: 15px;
        color: #ffffff;
        opacity: 1;
    }
}

@media (min-width: 480px)and (max-width: 730px) {
    h1.event-title {
        margin-top: 18%;

    }

    p.event-desc{
        margin-top: 28%;

    }
}

